
    <span class="created-at"><%= community_news.created_at.strftime('%F %T') %></span>
    <span class="owner"><%= community_news.user.username %></span>
    <span class="community-name"><%= community_news.community.name %></span>
  