<% provide :title, (community_news_tag @community_news.tag) %>
<div class="show-community-news">
  <div class="row news-title">
    <div class="columns small-10 small-offset-1">
      <h3 class="text-center"><%= @community_news.title %></h3>
    </div>
  </div>

  <div class="row sub-title-community-news">
    <div class="columns small-10 small-offset-1">
      <%= render partial: 'sub_title', locals: { community_news: @community_news } %>
    </div>
  </div>

  <div class="row news-content">
    <div class="columns small-10 small-offset-1">
      <%= simple_format @community_news.content %>
    </div>
  </div>
</div>