


  <div  class="comment">
    <% if comment.photos.present? %>
    <% comment.photos.each do |pic| %>
    <div class="content-pictures columns small-10 small-offset-1 medium-8 medium-center large-6 large-center">
      <%= image_tag pic.try(:image).present? ? pic.image : pic %>
    </div>
    <% end %>
    <% end %>
    <div class="clear"></div>
    <div>
    <%= simple_format comment.body.html_safe if comment.body %>
    <%= comment_info(comment) %>
  </div>
  </div>

<hr>
