
    <span class="created-at"><%= topic.created_at.strftime('%F %T') %></span>
    <span class="owner"><%= topic.user.username %></span>
    <span class="community-name"><%= topic.community.name %></span>
    <span class="community-tag">【<%= topic.tag %>】</span>
