<% topics.each_with_index do |topic, index| %>
<%= link_to topic_path(topic) do %>
<div class="row">
  <div class="columns small-3">
    <%= image_tag topic.list_pic %>
  </div>
  <div class="columns small-9">

    <h3 class="title"><%= topic.title %></h3>
    <div class="subtitle">
      <%= render partial: 'sub_title', locals: { topic: topic } %>
    </div>

  </div>
</div>
<% end %>
<% if index < topics.length - 1 %>
<hr/>
<% end %>
<% end %>
