<% provide :title, '社区论坛' %>
<div class="show-community-topic">
  <div class="row topic-title">
    <div class="columns small-10 small-offset-1">
      <h3 class="text-center"><%= @topic.title %></h3>
    </div>
  </div>

  <div class="row sub-title-community-topic">
    <div class="columns small-10 small-offset-1">
      <%= render partial: 'sub_title', locals: { topic: @topic } %>
    </div>
  </div>

  <div class="row topic-content">
    <div class="columns small-10 small-offset-1">
      <%= simple_format @topic.content %>
    </div>
  </div>
</div>