<div class="weui_cells_title"><%= t(:my_community_services) %></div>
<div class="weui_cells weui_cells_access">
  <% @my_community_services.each do |service| %>
  <%= link_to community_service_path(service), class: 'weui_cell' do %>
  <div class="weui_cell_bd weui_cell_primary">
    <div class="type"><%= service.title %></div>
  </div>
  <div class="weui_cell_ft"></div>
  <% end %>
  <% end %>
</div>