
    <span class="created-at"><%= community_service.created_at.strftime('%F %T') %></span>
    <span class="owner"><%= community_service.user.username %></span>
    <span class="community-name"><%= community_service.community.name %></span>
    <span class="community-tag">【<%= community_service.tag %>】</span>
