<% provide :title, '社区服务' %>

<%= render 'order' %>

  <% if @community_services.present? %>
  <div class="community_services">
    <%= render partial: 'service_lists', locals: { community_services: @community_services } %>
  </div>
  <% else %>
  <div class="no-objects">暂无服务</div>
  <% end %>
