$light-slate-gray: #6D7B8D;
$primary-color: rgb(230,110,37);
$light-gray: #E5E4E2;

/*********** Show ************/
.show-community-service {
  h3 {
    font-weight: 500;
  }
  .sub-title-community-service {
    color: $light-slate-gray;
    font-size: 0.9rem;
    .owner, .community-name, .community-tag {
      padding-left: 10px;
    }
  }
  .service-title {
    margin-top: 20px;
  }
  .service-content {
    margin-top: 20px;

    .columns {
      margin-top: 10px;
    }

  }
}

/************ Index *****************/
.four-board {
  margin-top: 20px;
}
.community-service-index {
  a {
    color: black;
    .subtitle {
      color: $light-slate-gray;
    }
  }
  .title {
    text-align: left;
    font-weight: bold;
  }
  .order-buttons {
    margin-top: 20px;
  }
  .button {
    padding: 10px;
  }
  h3 {
    margin-top: 0;
  }
  img {
    width: 100%;
  }
}
